<div class="form-inputs">
  <%= simple_form_for [ @listing_deal, @bid ], method: :post, url: listing_deal_bids_path(@listing_deal) do |f| %>
    <%= f.error_notification %>
    <%= f.input :amount, hint: 'Must be higher than the minimum bid' %>
    <%= f.input :description %>
    <div, class="form-actions">
      <%= f.button :submit, class: 'btn btn-primary' %>
    </div,>
  <% end %>
</div>
