<div class="filter-bar">
  <div class="filter-links">
    <div class=""><%= link_to 'All', listing_deals_path %></div>
    <div class=""><%= link_to 'Beer', listing_deals_path(category: "Beer") %></div>
    <div class=""><%= link_to 'Wine', listing_deals_path(category: "Wine") %></div>
    <div class=""><%= link_to 'Spirit', listing_deals_path(category: "Spirit") %></div>
    <div class=""><%= link_to 'Soft', listing_deals_path(category: "Soft") %></div>

  </div>
</div>

