<div class="listing-container">
<div class="listing-index">
  <div class="filter-index">
      <%= render '/shared/filter' %>
  </div>
  <div class="listing-deals">
    <h1 class="listing-header">Live Listings</h1>
      <div class="row">
        <% @listing_deals.each do |listing_deal| %>
          <div class="col-4 col-sm-3">
          <div class="listing-card shadow">

            <div class="listing-details">
              <ul id="list">
                <li><h4><%= link_to listing_deal.user.name, listing_deal_path(listing_deal.id) %></h4></li>
                <li><strong>Category:</strong> <%= listing_deal.category %></li>
                <li><strong>Volume:</strong> <%= listing_deal.volume %></li>
                <li><strong>Start:</strong> <%= listing_deal.start_date.strftime("%a %e %b %y") %></li>
                <li><strong>End:</strong> <%= listing_deal.end_date.strftime("%a %e %b %y") %></li>
                <li><strong>Minimum Bid:</strong> £<%= listing_deal.min_amount %></li>
                <li><strong>Other:</strong> <%= listing_deal.other_requirements %></li>

              </ul>
            </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>

  </div>
     <div class="index-page-links">
      <% if current_user.is_venue %>
        <%= link_to 'New Listing', new_listing_deal_path, class: "btn btn-primary" %>
      <% end %>
    </div>

</div>
