<div class="listing-container">
<div class="listing-index">
  <h1>All Listing Deals</h1>
  <div class="listing-deals">

      <div class="row">
        <% @listing_deals.each do |listing_deal| %>
          <div class="col-4">
          <div class="listing-deal-card">
            <div class="listing-deal-card-body">
              <ul>
                <li><h4><%= link_to listing_deal.user.name, listing_deal_path(listing_deal.id) %></h4></li>
                <li>Product: <%= listing_deal.product.name %></li>
                <li>Volume Required: <%= listing_deal.volume %></li>
                <li>Start Date: <%= listing_deal.start_date %></li>
                <li>End Date: <%= listing_deal.end_date %></li>
                <li>Minimum Bid: £<%= listing_deal.min_amount %></li>
                <li>Other Requirements: <%= listing_deal.other_requirements %></li>
              </ul>
            </div>
          </div>
        </div>
       <% end %>
      </div>
      </div>


  <div class="index-page-links">
    <% if current_user.is_venue %>
      <%= link_to 'New Listing', new_listing_deal_path, class: "btn btn-primary" %>
    <% end %>
  </div>
  </div>
 <%= link_to 'Back to home', root_path %>
</div>
