<div class="listing-deal-show">
  <h2><%= @listing_deal.user.name %></h2>
  <h3>Details</h3>
    <ul>
        <li>Product: <%= @listing_deal.product.name %></li>
        <li>Volume Required: <%= @listing_deal.volume %></li>
        <li>Start Date: <%= @listing_deal.start_date %></li>
        <li>End Date: <%= @listing_deal.end_date %></li>
        <li>Minimum Bid: £<%= @listing_deal.min_amount %></li>
        <li>Other Requirements: <%= @listing_deal.other_requirements %></li>
      </ul>
  <h3>Bids</h3>
  <% if @listing_deal.bids.pluck('accepted').include?(true) %>
    <div class="accepted-bid-card">
      <p>A bid has been accepted for this tender!</p>
    </div>
  <% else %>

    <!-- only show if no bid has been accpeted -->
    <% if current_user.is_venue == false %>
      <h4>Place a bid</h4>
      <%= render "./bids/new" %>
    <% end %>
    <!-- show existing bids -->
    <div class="bids-container">
      <% @bids.each do |bid| %>
        <div class="bid-card">
          <ul>
            <li>Id: <%= bid.id %> </li>
            <li>Brand: <%= bid.user.name %></li>
            <li>Product: <%= bid.product.name %></li>
            <li>Offer: £<%= bid.amount %></li>
            <li>Accepted: <%= bid.accepted %></li>
          </ul>
          <% if current_user == @listing_deal.user %>
            <%= render "./bids/accept", listing_deal: @listing_deal, bid: bid %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
  <div class="listing-deal-show-actions">
    <% if current_user.id == @listing_deal.user.id %>
      <%= link_to 'Edit this listing', edit_listing_deal_path(@listing_deal.id) %>
      <%= link_to 'Delete this listing', listing_deal_path(@listing_deal.id), method: :delete, data: { confirm: 'Are you sure?'} %>
    <% end %>
    <%= link_to 'Back to all Listings', listing_deals_path %>
  </div>
</div>

