<div class="container">
  <div class="row py-5">
    <div class="col-xs-12">
      <div class="venue-header">
        <h1><%= @listing_deal.user.name %></h1>
      </div>
      <div class="tender-container">
      <h2>Tender Details</h2>
        <ul>
          <li>Product: <%= @product.name %></li>
          <li>Category: <%= @product.category %></li>
          <li>Volume Required: <%= @listing_deal.volume %></li>
          <li>Start Date: <%= @listing_deal.start_date.strftime("%a %e %b %y") %></li>
          <li>End Date: <%= @listing_deal.end_date.strftime("%a %e %b %y") %></li>
          <li>Minimum Bid: £<%= @listing_deal.min_amount %></li>
          <li>Other Requirements: <%= @listing_deal.other_requirements %></li>
        </ul>
      </div>
      <div class="listing-deals-bids">
        <h3>Auction</h3>

        <% if @listing_deal.bids.pluck('accepted').include?(true) %> <!--- auction is over --->
          <%= render "auction_over", accepted_bid: @accepted_bid %>
        <% else %> <!---- auction is still going ---->
          <div class="bid-top-stats">
            <div class="highest-bid">
              Highest Bid: <strong>£<%= @highest_bid %></strong>
            </div>
            <div class="minimum-bid">
              Minimum Bid: <strong>£<%= @listing_deal.min_amount %></strong>
            </div>
            <div class="bid-count">
              Total Bids: <strong><%= @bids.count %></strong>
            </div>
          </div>
          <% if current_user.is_venue == false %>
            <%= render "./bids/new" %>
          <% end %>
          <% if @listing_deal.user == current_user %>
            <%= render "all_bids", bids: @bids, listing_deal: @listing_deal %> <!--- if the current user is the venue for this listing --->
          <% end %>
        <% end %>
      </div>
      <div class="listing-deal-show-actions">
        <% if current_user.id == @listing_deal.user.id %>
          <%= link_to 'Edit this listing', edit_listing_deal_path(@listing_deal.id) %>
          <%= link_to 'Delete this listing', listing_deal_path(@listing_deal.id), method: :delete, data: { confirm: 'Are you sure?'} %>
        <% end %>
        <%= link_to 'Back to all listings', listing_deals_path %>
      </div>
    </div>
  </div>
</div>
