<div class="listing-deal-show">
  <h2><%= @listing_deal.user.name %></h2>
  <h3>Details</h3>
    <ul>
        <li>Product: <%= @listing_deal.product.name %></li>
        <li>Volume Required: <%= @listing_deal.volume %></li>
        <li>Start Date: <%= @listing_deal.start_date %></li>
        <li>End Date: <%= @listing_deal.end_date %></li>
        <li>Minimum Bid: £<%= @listing_deal.min_amount %></li>
        <li>Other Requirements: <%= @listing_deal.other_requirements %></li>
      </ul>
  <h3>Bids</h3>
  <%= render "./bids/new" %>
  <div class="bid-card">
    <% @bids.each do |bid| %>
    <ul>
      <li>Brand: <%= bid.user.name %></li>
      <li>Product: <%= bid.product.name %></li>
      <li>Offer: £<%= bid.amount %></li>
    </ul>
    <!-- this isn't funtional as don't have a route. can be replaced by Sara's bid form/show -->
    <% if current_user == @listing_deal.user %>
      <%= link_to 'Accept this bid' %>
    <% end %>
  <% end %>
  </div>


  <div class="listing-deal-show-actions">
    <% if current_user.is_venue == false %>
      <%= link_to 'Place a bid', new_listing_deal_bid_path(@listing_deal.id), class: "btn btn-primary"  %>
    <% end %>
    <% if current_user.id == @listing_deal.user.id %>
      <%= link_to 'Edit this listing', edit_listing_deal_path(@listing_deal.id) %>
      <%= link_to 'Delete this listing', listing_deal_path(@listing_deal.id), method: :delete, data: { confirm: 'Are you sure?'} %>
    <% end %>
    <%= link_to 'Back to all Listings', listing_deals_path %>
  </div>
</div>

