<h2 class="mb-3">Bids on active tenders</h2>
<div class="active-tenders mb-3">
  <% if .empty? %>
    <p>You do not have any active tenders!</p>
    <%= link_to "Create Listing", new_listing_deal_path, target: "_blank", class: "btn btn-primary" %>
  <% else %>
    <% @active_listings.each do |listing| %>
      <% @product = Product.find(listing.product_id) %>
      <div class="col-4 mb-4">
        <div class="card shadow">
          <div class="card-body">
            <p class="card-text">Volume: <%= listing.volume %> of <%= @product.category %></p>
            <p class="card-text">From: <%= listing.start_date.strftime("%a %e %b %y") %> to <%= listing.end_date.strftime("%a %e %b %y") %></p>
            <%= link_to listing_deal_path(listing) do %>
              <button class="btn btn-primary">See More</button>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
<h2 class="mb-3">Agreed deals</h2>
<div class="agreed-deals mb-3">
  <% @accepted_listings.each do |listing| %>
    <% @product = Product.find(listing.product_id) %>
      <div class="col-4 mb-4">
        <div class="card shadow">
          <div class="card-body">
            <p class="card-text">Product: <%= @product.name %></p>
            <p class="card-text">Agreed on <%= listing.completed_at.strftime("%a %e %b %y") %></p>
            <p class="card-text">From: <%= listing.start_date.strftime("%a %e %b %y") %> to <%= listing.end_date.strftime("%a %e %b %y") %></p>
            <%= link_to listing_deal_path(listing) do %>
              <button class="btn btn-primary">See More</button>
            <% end %>
          </div>
        </div>
      </div>
  <% end %>
</div>

