<h2 class="mb-3">Bids on active tenders</h2>
<div class="active-tenders mb-3">
  <% if @active_bids.nil? %>
    <p>You do not have any active bids! View the active listings below to join an auction.</p>
    <%= link_to "View listings", listing_deals_path, class: "btn btn-primary" %>
  <% else %>
    <% @active_bids.each do |bid| %>
      <% @product = Product.find(bid.listing_deal.product_id) %>
      <div class="col-4 mb-4">
        <div class="card shadow">
          <div class="card-body">
            <p class="card-text">Offer: £<%= bid.amount %></p>
            <p class="card-text">From: <%= bid.listing_deal.start_date.strftime("%a %e %b %y") %> to <%= bid.listing_deal.end_date.strftime("%a %e %b %y") %></p>
            <%= link_to listing_deal_path(bid.listing_deal) do %>
              <button class="btn btn-primary">See More</button>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
<h2 class="mb-3">Agreed deals</h2>
<div class="agreed-deals mb-3">
  <% if @accepted_bids.nil? || @accepted_bids.empty? %>
    <p>You do not have any agreed deals.</p>
  <% else %>
    <% @accepted_bids.each do |bid| %>
        <% @product = Product.find(bid.listing_deal.product_id) %>
        <div class="col-4 mb-4">
          <div class="card shadow">
            <div class="card-body">
              <p class="card-text">Volume: <%= bid.listing_deal.volume %> of <%= @product.category %></p>
              <p class="card-text">From: <%= bid.listing_deal.start_date.strftime("%a %e %b %y") %> to <%= bid.listing_deal.end_date.strftime("%a %e %b %y") %></p>
              <%= link_to listing_deal_path(bid.listing_deal) do %>
                <button class="btn btn-primary">See More</button>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
</div>

