<div class="filter-bar">
  <div class="filter-links">
    <div class=""><%= link_to 'Lager', listing_deals_path(category: "lager") %></div>
    <div class=""><%= link_to 'Cider', listing_deals_path(category: "cider") %></div>
    <div class=""><%= link_to 'Red Wine', listing_deals_path(category: "wine") %></div>
    <div class=""><%= link_to 'White Wine', listing_deals_path(category: "white wine") %></div>
    <div class=""><%= link_to 'Champagne', listing_deals_path(category: "champagne") %></div>
    <div class=""><%= link_to 'Soft Drinks', listing_deals_path(category: "soft drinks") %></div>
    <div class=""><%= link_to 'Spirits', listing_deals_path(category: "spirit") %></div>
    <div class=""><%= link_to 'All Categories', listing_deals_path %></div>
  </div>
</div>

