<div class="filter-bar">
  <div class="filter-links">
    <div class=""><%= link_to 'Lager', listing_deals_path(category: "Lager") %></div>
    <div class=""><%= link_to 'Cider', listing_deals_path(category: "Cider") %></div>
    <div class=""><%= link_to 'Red Wine', listing_deals_path(category: "Red Wine") %></div>
    <div class=""><%= link_to 'White Wine', listing_deals_path(category: "White Wine") %></div>
    <div class=""><%= link_to 'Champagne', listing_deals_path(category: "Champagne") %></div>
    <div class=""><%= link_to 'Soft Drinks', listing_deals_path(category: "Soft Drinks") %></div>
    <div class=""><%= link_to 'Spirits', listing_deals_path(category: "Spirit") %></div>
    <div class=""><%= link_to 'All Categories', listing_deals_path %></div>
  </div>
</div>

