<div class="banner-info">
  <%= render '/shared/filter' %>
  <div class="container">

    <div class="row py-5">
      <div class="col-xs-12 col-sm-6 banner">
        <h1 class=" banner-heading">A great deal better</h1>
        <p class="mt-4 banner-text">The online auction where bars can tender their listings deals and brands can bid for them.</p>
        <div class="mt-5">
          <%= link_to listing_deals_path do %>
            <a href="#about"><button class="btn btn-dark">How it Works</button></a>
          <% end %>

        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <%= image_tag "bartender.png", class: "banner-image" %>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="mt-5">
    <h1 class="text-center">Latest Tenders</h1>
    <div class="row">
      <% @listing_top = ListingDeal.last(3) %>


      <% @listing_top.each do |listing| %>
        <div class="col-4 mt-4">
          <div class="card shadow">
            <div class="card-body ml-2">
              <div class="card-text">

                <h2><%= link_to listing.user.name, listing_deal_path(listing.id) %></h2>
                <!-- we will need to change this to latest bid! -->
                <p> Current bid: <%= listing.min_amount %></p>
                <!-- need link -->
                <%= link_to 'Join Auction', listing_deal_path(listing.id), class: 'btn btn-primary' %>

              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
  <div class="marketing-info">
      <div class="container marketing">
    <div class="row py-5">
      <div class="col-xs-12 col-sm-6">
          <h1 class="marketing-heading" id="about">A better way for bars and brands to do business</h1>
      <div class="mt-4 marketing-text">

        <p>Listing deals between bars and drinks brands are essential.</p>
        <p>Eztenda is an online autction where bars can openly tender their listings deals and drinks brands can bid for them.</p>
        <p>Unlocks revenue for bar managers</p>
        <p>Secures distribution for drinks brands</p>
         <p>Easy and intuitive, welcome to Eztenda!</p>
      </div>
      </div>
  </div>


    </div>

  </div>

